# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Node.js
# https://github.com/nodejs/node/blob/main/.gitignore
#
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/
Release/
# Windows
*.node
# macOS
*.node
# Linux
*.node

# Deno files
# https://deno.land/manual@v1.36.1/references/contributing/internals#denoignore
.deno/
deno.lock
.tsbuildinfo
.d.ts

# Editor directories and files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Runtime data
.cache
.npm
.eslintcache
.pnpm-store
.yarn-cache

# Optional gitignore file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local

# Optional folder for local modules
node_modules/
dist/
dist-ssr/
*.tsbuildinfo
